.grids{
    display:grid;
    grid-template-columns:auto auto auto auto;
    gap:0px;
    background-color: #C7DB9E;
    padding: 10px;
    justify-content:space-around;
    height: 500px;
   text-align: center;      
}
.heading{
    text-align: center;
    background-color:#C7DB9E ;
    margin-bottom: 0px;
    padding: 30px;
    font-size: 35px;   
}
.heading:hover{
    animation: zoom 3s infinite alternate;
}
.animateImg{
    animation: zoom 3s infinite alternate;
    cursor: pointer;
}

.grids > div{
display:inline;
    border: 3px solid #050404;
    padding: 20px;
    text-decoration: underline;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 270px;
    height: 120px;
    background-color: #C7DB9E;
    cursor: pointer;    
}
.grids :hover {
    animation: zoom 3s infinite alternate;
}

@keyframes zoom {
    0% { 
        width: 270px;
    height: 120px;
    }
    25% {  
        width: 272px;
    height: 122px;
    text-align: center;

    }
    50% {
        width: 272px;
        height: 122px;
    }
    75% {
        width: 272px;
        height: 122px;
    }
    100% {
        width: 272px;
        height: 122px; 
    }
}