/* ProductCard.css */

.container{
display: flex;




}
.product-card {
    width: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
   
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 14px;
    color: #666;
  }
  
  .add-to-cart-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-to-cart-button:hover {
    background-color: #45a049;
  }
  