.text {
    font-size: 80px;
    background: linear-gradient(to bottom, #96E8EC, #A7F1F0, #D8F9F8);
    font-family: Garamond, Text”, “Times”, serif;
}

.text:hover {
    animation: zoom 3s infinite alternate;
}

h2 {
    font-weight: 900;
}

.product {
    width: 300px;
}

.product:hover {
    animation: zoom 3s infinite alternate;
}

.slideButton{
    border-radius:50%;
     width:45px;
      height:45px;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.01)
    }
    50% {
        transform: scale(1.01)
    }
    75% {
        transform: scale(1.01)
    }
    100% {
        transform: scale(1.01)
    }
}