.body{
    width: 100px;
}
.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    justify-content: space-evenly;
  }
  
.product-card {
    
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-evenly;
    
    
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-title {
    margin: 10px 0;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow content */
    font-size: clamp(14px, 2vw, 20px);
    text-overflow: ellipsis; /* Display ellipsis (...) when content overflows */
  }
  
  .product-price {
    font-weight: bold;
  }
  
  .add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  